<div class="container">
<h1>Create Event</h1>
<%= form_for :event, url: event_create_path do |f| %>
 
  <p>
   <%= f.label :Event %><br />
   <%= f.text_field :title %>
 </p>
  <p>
   <%= f.label :Venue %><br />
   <%= f.text_field :venu %>
 </p>
  <p>
   <%= f.label :Date%><br />
   <%= f.text_field :date %>
 </p>
 <p>
   <%= f.label :Time %><br />
   <%= f.text_field :time %>
 </p>

<%= f.label :Invitees %>
<ul>
  <% @users.each do |role| %>
    <li>
      <%= check_box_tag 'invitee_ids[]', role.id -%>
      <%= role.firstname -%>
    </li>
  <% end %>
</ul>

  <p>
   <%= f.label :Description %><br />
   <%= f.text_area :description %>
 </p>
  <p>
   <%= f.label :Status %><br />
   <%= f.select :status, ['open', 'closed']%></br></br></br>
 </p>
 
  
 <p class="button"><%= f.submit :OK %>
 <%= f.submit :Cancel %></p>
<% end %>
</div>
